<div id="post-manager">
    <div class="margin-b-30">
        <h5>
            <i class="pi pi-fw pi-home"></i>
            Quản lý bài viết
        </h5>
    </div>

    <p-editor [style]="{'height':'320px'}"></p-editor>


    <p-table 
        [value]="customers" 
        [paginator]="true"  
        [scrollable]="true"
        [showCurrentPageReport]="true" 
        styleClass="p-datatable-gridlines"
        currentPageReportTemplate="Hiển thị bài viết từ {first} đến {last} của {totalRecords} bài viết" [rowsPerPageOptions]="[10,25,50]">
        <ng-template pTemplate="header">
            <tr>
                <th style="width:25%">Tiêu đề</th>
                <th style="max-width:200px">Ngày tạo</th>
                <th style="max-width:120px"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-customer>
            <tr>
                <td>{{customer.name}}</td>
                <td style="max-width:200px"></td>
                <td style="max-width:120px" class="justify-content-center">
                    <button 
                        pButton 
                        pRipple 
                        icon="pi pi-pencil" 
                        class="p-button-success margin-r-5">
                    </button>
                    <button 
                        pButton 
                        pRipple 
                        icon="pi pi-trash" 
                        class="p-button-warning" 
                        (click)="deleteProduct(customer)">
                    </button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-confirmDialog ></p-confirmDialog>