<body
    class="home page-template-default page page-id-34 custom-background wp-custom-logo hootdu wordpress ltr vi parent-theme logged-out singular singular-page singular-page-34 theme-hoot-du user-registration-page vcwb woocommerce-no-js elementor-default elementor-kit-6">
    <div id="page-wrapper"
        class=" site-stretch page-wrapper sitewrap-full-width sidebars0 hoot-cf7-style hoot-mapp-style hoot-jetpack-style hoot-sticky-sidebar">
        <web-header></web-header>
        <div id="main" class=" main">
            <div class=" hgrid-stretch frontpage-grid">
                <main id="content-frontpage" class=" content-frontpage">
                    <div id="frontpage-page-content"
                        class=" frontpage-area frontpage-page-content frontpage-staticpage-content module-bg-none module-font-theme frontpage-area-boxed">
                        <div class="hgrid main-content-grid">
                            <div id="content" class="content  hgrid-span-12 no-sidebar layout-full-width">
                                <div id="content-wrap" class=" content-wrap theiaStickySidebar entry-content">
                                    <article id="post-34"
                                        class="entry author-katinat post-34 page type-page status-publish has-post-thumbnail">
                                        <div class="entry-content" itemprop="text">
                                            <div class="entry-the-content">
                                                <div class="vce-row-container">
                                                    <div class="vce-row vce-row--col-gap-30 vce-row-equal-height vce-row-content--top"
                                                        data-vce-full-width="true" data-vce-stretch-content="true"
                                                        id="el-7fb3991f" data-vce-do-apply="all el-7fb3991f">
                                                        <div class="vce-row-content" data-vce-element-content="true">
                                                            <div class="vce-col vce-col--md-auto vce-col--xs-1 vce-col--xs-last vce-col--xs-first vce-col--sm-last vce-col--sm-first vce-col--md-last vce-col--lg-last vce-col--xl-last vce-col--md-first vce-col--lg-first vce-col--xl-first"
                                                                id="el-9650821d">
                                                                <div class="vce-col-inner"
                                                                    data-vce-do-apply="border margin background  el-9650821d">
                                                                    <div class="vce-col-content"
                                                                        data-vce-element-content="true"
                                                                        data-vce-do-apply="padding el-9650821d">
                                                                        <web-slider></web-slider>
                                                                        <web-about-us></web-about-us>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <web-video></web-video>
                                                <web-category-food></web-category-food>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
        <web-footer></web-footer>
    </div>
</body>